.App {
}

.App-link {
  color: #61dafb;
}

.pt-50 {
  padding-top: 50px;
}

.section-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.App .main-card {
}

input,
textarea,
.output pre,
.locations {
  font-family: "Monaco", "Courier", "monospace";
}

pre {
  white-space: pre-wrap;
}

.output,
.query-box,
.code-box {
  text-align: left;
}

.output pre {
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  background-color: #fafafa;
  padding: 10px;
  min-height: 47px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.output.error pre {
  border: 1px solid #f677a0;
  background-color: #fff8f8;
}

.form-control,
.form-control:focus {
  color: #17191c;
}

.locations {
  text-align: right;
  font-size: 12px;
  margin-bottom: 1.5rem;
}

.hwt-container {
  position: relative;
  /* display: inline-block;
  overflow: hidden !important;
  -webkit-text-size-adjust: none !important; */
}

.hwt-backdrop {
  position: absolute !important;
  top: 0 !important;
  right: -99px !important;
  bottom: 0 !important;
  left: 0 !important;
  padding-right: 99px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.hwt-highlights {
  width: auto !important;
  height: auto !important;
  border-color: transparent !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  color: transparent !important;
  overflow: hidden !important;
}

.hwt-input {
  display: block !important;
  position: relative !important;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font: inherit;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.hwt-content {
  border: 1px solid;
  background: none transparent !important;
}

.hwt-content mark {
  padding: 0 !important;
  color: inherit;
}

.hwt-input,
.hwt-backdrop {
  font-family: "Monaco", "Courier", "monospace";
  font-size: 0.875rem;
}

.hwt-input,
.hwt-content {
  border: 1px solid #cad1d7;
  border-radius: 4px;
  padding: 0.625rem 0.75rem;
}

.hidden {
  display: none;
}

.site-info {
  text-align: center;
}

.section-shaped .shape-style-1.shape-default {
  background: linear-gradient(150deg, #0a78ad, #a45ac4);
}

.header-text {
  text-align: right;
  padding-top: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.header-text a,
.header-text a:visited {
  color: white;
}
