.App {
}

.App-link {
  color: #61dafb;
}

.pt-50 {
  padding-top: 50px;
}

.section-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.App .main-card {
}

input,
textarea,
.output pre {
  font-family: "Monaco", "Courier", "monospace";
}

pre {
  white-space: pre-wrap;
}

.output,
.query-box,
.code-box {
  text-align: left;
}

.output pre {
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  background-color: #fafafa;
  padding: 10px;
}

.output.error pre {
  border: 1px solid #f677a0;
  background-color: #fff8f8;
}
